nav {
    margin-bottom: 40px;
}

.jumbotron {
    margin: 80px 40px;
    margin-bottom: 20px;
    border-radius: 17px;
    height: 50%;
}

h1 {
    margin: 40px;
}

h2 {
    margin: 0px 40px;
}

p {
    margin: 40px;
}

img {
    border-radius: 17px;
}

.col {
    margin: 0px 40px;
}

.introList {
    text-align: center;
    margin: 20px;
}

.questionList {
    margin: 20px;
}

.card, .card-img-top {
    border-radius: 17px;
}

.card-text {
    color: #060A28;
}


/* .container {
    margin: 0px 40px;
} */