/*Fonts*/
@font-face {
    font-family: Kodchasan;
    src: url(/fonts/Kodchasan-Medium.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-Medium.ttf);
}
/*Fonts*/

body, html {
    height: 100vh;
    background-color: #060A28;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Kodchasan;
    color: white;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 48px;
}

h2 {
    font-size: 48px; 
}

h3 {
    font-size: 36px;
}

p {
    font-family: Nunito;
    font-size: 24px;
    color: white;
}

.topNav {
    width: 100%;
    height: 116px;
    background-color: rgba(6, 10, 40, .7);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}


.navButton:link {
    color: white;
    text-decoration: none;
}

.navButton:visited {
    color: white;
}

.active {
    background-color: #ED33B9;
    padding: 15px;
    border-radius: 72px;
}

/* .menuButton {
    position: absolute;
    top: 48px;
    right: 42px;
} */

.homePage {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homeText {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

#hey {
    margin: 0;
}

#welcome {
    margin: 0;
}

#im {
    width: 100%;
}

.barsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
}

.pinkR {
    width: 100%;
    height: 34px;
    background-color: #ED33B9;
    border-radius: 17px 0px 0px 17px;
    margin-bottom: 3px;
}

.orangeR {
    width: 80%;
    height: 34px;
    background-color: #FCA347;
    border-radius: 17px 0px 0px 17px;
    margin-bottom: 3px;
}

.cyanR {
    width: 60%;
    height: 34px;
    background-color: #00C2D1;
    border-radius: 17px 0px 0px 17px;
    margin-bottom: 3px;
}

.yellowR {
    width: 40%;
    height: 34px;
    background-color: #F9E900;
    border-radius: 17px 0px 0px 17px;
    margin-bottom: 3px;
}

.barSpace {
    width: 100%;
    height: 145px;
}

.barsLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.yellowL {
    width: 40%;
    height: 34px;
    background-color: #F9E900;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.cyanL {
    width: 60%;
    height: 34px;
    background-color: #00C2D1;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 3px;
}

.orangeL {
    width: 80%;
    height: 34px;
    background-color: #FCA347;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 3px;
}

.pinkL {
    width: 100%;
    height: 34px;
    background-color: #ED33B9;
    border-radius: 0px 17px 17px 0px;
}



.projectPage {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
    /* padding-top: 116px; */
}

.projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project {
    width: 380px;
    height: 380px;
    margin: 20px;
    border-radius: 17px;
}

#p1 {
    background-color: #5767DC;
}

#p2 {
    background-color: #E44DD5;
}

#p3 {
    background-color: #DEBA38;
}

.aboutPage {
    height: 200vh;
    position: relative;
    /* padding-top: 116px; */
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 380px;
    height: 720px;
    margin: 32px;
    background-color: #5767DC;
}


.contactPage {
    height: 100vh;

    position: relative;
}

/* .arrow {
    position: absolute;
    bottom: 0;
    cursor: pointer;
} */