/*Fonts*/
@font-face {
    font-family: Kodchasan;
    src: url("../fonts/Kodchasan-Medium.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-Medium.ttf");
}

@font-face {
    font-family: NunitoItalic;
    src: url("../fonts/Nunito-MediumItalic.ttf");
}

@font-face {
    font-family: NunitoBold;
    src: url("../fonts/Nunito-Bold.ttf");
}

/*@font-face {
    font-family: NunitoBoldItalic;
    src: url("../fonts/Nunito-BoldItalic.ttf");
} */

em {
    font-family: NunitoItalic;
}

strong {
    font-family: NunitoBold;
} 
/*Fonts*/

body, html {
    height: 100vh;
    background-color: #060A28;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Kodchasan;
    color: white;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 48px;
}

h2 {
    font-size: 48px; 
}

h3 {
    font-size: 36px;
}

p {
    font-family: Nunito;
    font-size: 24px;
    color: #C7CAE8;
    line-height: 1.6;
}

a {
    font-family: Nunito;
    font-size: 24px;
    color: white;
}

a:hover {
    color: white;
}

span {
    color: white;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 42px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}